{% assign sorted_events = site.events | sort: 'event_start_time' %}
{% assign current_unix_time = site.time | date: '%s' | plus: 0 %}
{% assign sorted_past_events = "" | split: "" %}
{% assign sorted_upcoming_events = "" | split: "" %}
{% for event in sorted_events %}
    {% assign event_unix_time = event.event_start_time | date: '%s' | plus: 0 %}
    {% if event_unix_time < current_unix_time %}
        {% assign sorted_past_events = sorted_past_events | push: event %}
    {% else %}
        {% assign sorted_upcoming_events = sorted_upcoming_events | push: event %}
    {% endif %}
{% endfor %}
{% assign sorted_past_events = sorted_past_events | reverse %}
{% assign sorted_upcoming_events = sorted_upcoming_events | sort: 'event_start_time' %}
{% if include.type_to_show == "upcoming" %}
    {% if sorted_upcoming_events.size > 0 %}
        <h2>Upcoming Events</h2>
        <div class="event-list-container">
            {% for event in sorted_upcoming_events limit:include.limit %}
                {% include event_item.html event=event %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if include.type_to_show == "past" %}
    {% if sorted_past_events.size > 0 %}
        <h2>Past Events</h2>
        <div class="event-list-container">
            {% for event in sorted_past_events limit:include.limit %}
                {% include event_item.html event=event %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

