---
layout: default
---

<h1 class="--title">{% if page.email_subject %}{{ page.email_subject }}{% else %}Council #{{ site.council_number }} Announcement{% endif %}</h1>

<p class="announcement-date"><strong>Sent:</strong> {{ page.sent_at | date: site.events_date_format }}</p>

<div class="announcement-content">
  <!-- <h2>Message</h2> -->
  {% if page.email_body %}
    <div class="email-content">
      {{ page.email_body }}
    </div>
  
  {% else %}
    <div class="sms-content">
      {{ page.sms_body }}
    </div>
  {% endif %}
  
  {% if page.email_attachment_urls %}
    <div class="announcement-attachments">
      <h3>Attachments</h3>
      <div class="attachment-gallery">
        {% for attachment_url in page.email_attachment_urls %}
          <div class="attachment-item">
            <img src="{{ attachment_url }}" alt="Announcement attachment" class="attachment-image announcement-img-lightbox" data-full-image="{{ attachment_url }}" />
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>