---
layout: default
---

<h1>Calendar</h1>
<!-- <ul>
  <h2>Tags</h2>
  <ul class="tag-ul">
    {% assign sorted_site_tags = site.tags | sort %}
    {% for tags in sorted_site_tags %}
      {% assign tag = tags[0] %}
      <li class="tag"><a href="/tag/{{ tag }}">{{ tag | replace: "-", " " }}</a></li>
    {% endfor %}
  </ul>  
</ul> -->

{% include calendar_list.html type_to_show="upcoming" limit=1000 %}
  

{% include calendar_list.html type_to_show="past" limit=1000 %}


<h2>Calendar Feed</h2>

<p>Copy and paste the following link into your calendar application to subscribe to the council calendar feed:</p>

<a href="{{ site.council_calendar_feed}}" target="_blank">Council Calendar Feed</a>