---
layout: default
---

<div class="event-page-container">
    <h1>{{ page.event_name }}</h1>
    <div class="event-page-content">
        {% if page.event_details and page.event_details.size > 2 %}
            <h2>Details</h2>
            <p>{{ page.event_details }}</p>
        {% endif %}
        <h2>Date/Time</h2>
        <p>
            {% if page.event_start_time_formatted %}
                {{ page.event_start_time_formatted }}
            {% else %}
                {{ page.event_start_time | date: "%m/%d/%Y (%A) starting at %-I:%M %p" }}
            {% endif %}
            ({{ page.timezone | replace: "US/", "" }}).
        </p>
        <h2>Location</h2>
        {% if page.location_address and page.location_address.size > 2 %}
            <p>
                <b>Address</b>: <a href="{{ page.location_map_link }}">{{ page.location_address }}</a>
            </p>
            <div id="map"
                 class="event-page-map"
                 data-lat="{{ page.location_gps_coordinates_lat }}"
                 data-lng="{{ page.location_gps_coordinates_lon }}"></div>
        {% endif %}
        <!-- <p><b>Calendar Link</b>: <a href="{{ page.calendar_link }}">Add to Calendar</a></p> -->
        {% if page.event_flyer %}
            <div class="event-flyer">
                <h2>Event Flyer</h2>
                <div style="width:fit-content; margin: 0rem auto;">
                    <picture style="margin: auto 0rem;">
                        <img class="event-flyer-image announcement-img-lightbox"
                             src="{{ page.event_flyer.thumbnail_url | default: page.event_flyer.original_url }}"
                             alt="{{ page.event_flyer.alt_text | default: 'Event flyer' }}"
                             data-full-image="{{ page.event_flyer.original_url | default: page.event_flyer.thumbnail_url }}"
                             style="height: auto;
                                    max-width: 70vw" />
                    </picture>
                </div>
            </div>
        {% endif %}
        <h2>Miscellaneous</h2>
        {% if page.event_last_updated  and page.event_last_updated.size > 2 %}
            <p>
                <!-- <b>Event Last Updated</b>: {{ page.event_last_updated | date: "%m/%d/%Y %-I:%M %p" }} -->
                <b>Event Last Updated</b>: {{ page.event_last_updated | date: "%m/%d/%Y" }}
            </p>
        {% endif %}
    </div>
</div>
