---
layout: default
---

<div class="event-page-container">
    <h1>{{ page.event_name }}</h1>
    <div class="event-page-content">
        {% if page.event_details and page.event_details.size > 2 %}
            <h2>Details</h2>
            <p>{{ page.event_details }}</p>
        {% endif %}
        <h2>Date/Time</h2>
        <p>
            {{ page.event_start_time | date: "%m/%d/%Y (%A) starting at %-I:%M %p" }} ({{ page.timezone | replace: "US/", "" }}).
        </p>
        <h2>Location</h2>
        {% if page.location_address and page.location_address.size > 2 %}
            <p>
                <b>Address</b>: <a href="{{ page.location_map_link }}">{{ page.location_address }}</a>
            </p>
            <div id="map"
                 class="event-page-map"
                 data-lat="{{ page.location_gps_coordinates_lat }}"
                 data-lng="{{ page.location_gps_coordinates_lon }}"></div>
        {% endif %}
         <h2>Miscellaneous</h2>
         {% if page.event_last_updated  and page.event_last_updated.size > 2 %}
             <p>
                 <!-- <b>Event Last Updated</b>: {{ page.event_last_updated | date: "%m/%d/%Y %-I:%M %p" }} -->
                 <b>Event Last Updated</b>: {{ page.event_last_updated | date: "%m/%d/%Y" }}
             </p>
         {% endif %}
         <!-- <p><b>Calendar Link</b>: <a href="{{ page.calendar_link }}">Add to Calendar</a></p> -->

         {% if page.event_images and page.event_images.size > 0 %}
         <div class="post-gallery">
             <h2>Gallery</h2>
             <div class="post-gallery-grid">
                 {% for image in page.event_images %}
                 <div class="post-gallery-item">
                     <picture>
                         <img class="post-gallery-thumbnail announcement-img-lightbox"
                              src="{{ image.thumbnail_url }}"
                              alt="{{ image.alt_text }}"
                              {% if forloop.index > 3 %}loading="lazy"{% endif %}
                              data-full-image="{{ image.original_url }}"
                              data-image-order="{{ image.order }}"
                              style="height: 10rem; width: auto; object-fit: cover;"/>
                     </picture>
                     {% if image.caption and image.caption != "" %}
                     <p class="post-gallery-caption">{{ image.caption }}</p>
                     {% endif %}
                 </div>
                 {% endfor %}
             </div>
         </div>
         {% endif %}
     </div>
</div>

