---
layout: default
---

<h1>Members</h1>

<h2>Officers (2024-2025)</h2>
<div class="officer-container">
  {% for officer in site.data.all_council_info_data.council_officers %}
  <div class="eboard-member">
    <picture>
      {% assign thumbnail_src = officer.member_photo_thumbnail %} {% assign
      original_src = officer.member_photo_original %} {% assign legacy_src =
      officer.member_photo_url %} {% if thumbnail_src and original_src %}
      <img
        class="portrait announcement-img-lightbox"
        src="{{ thumbnail_src }}"
        alt="A headshot of {{ officer.officer_position }} {{ officer.officer_name }}"
        data-full-image="{{ original_src }}"
      />
      {% elsif legacy_src %}
      <img
        class="portrait"
        src="{{ legacy_src }}"
        alt="A headshot of {{ officer.officer_position }} {{ officer.officer_name }}"
      />
      {% else %}
      <img src="/assets/svg/koc_crest.svg" alt="The Knights of Columbus logo" />
      {% endif %}
    </picture>
    <h3>{{ officer.officer_position }}</h3>
    <p>{{ officer.officer_name }}</p>
  </div>
  {% endfor %}
</div>

